<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seu.smarthome">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.intro.AtyWelcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.intro.AtyLogin" />
        <activity android:name=".ui.intro.AtyRegister" />
        <activity android:name=".ui.intro.AtyContract" />
        <activity android:name=".ui.user.AtyEditInfo" />
        <activity android:name=".ui.intro.AtyResetPasswd" />
        <activity android:name=".ui.main.ActivityMain" />
        <activity android:name=".ui.device.DeviceAddActivity" />
        <activity android:name=".ui.device.DeviceIdentifyActivity" />
        <activity android:name=".ui.device.DeviceInfoActivity" />
        <activity android:name=".ui.device.DeviceControlActivity" />
        <activity android:name=".ui.scene.SceneAddActivity" />
        <activity android:name=".ui.scene.SceneDetailActivity" />
        <activity android:name=".ui.common.TimeTaskActivity" />
        <activity android:name=".ui.user.AtyUserInfo" />
        <activity android:name=".ui.scene.DeviceListActivity" />
        <activity android:name=".ui.device.WifiListActivity" />
        <activity android:name=".ui.device.HistoryActivity" />
        <activity android:name=".ui.user.AtyAbout" />
        <activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />

    </application>

</manifest>
